<div>
  <h3> Bienvenido a su Listado de Juegos {{nameUser}}</h3>

  <div id="div1">
    <p>
      Lista de videojuegos:
      <ng-container *ngFor="let juego of datosJuegos">
        <span> juego.titulo </span>
        <span> {{juego.titulo }}</span> <!-- es uno de esos dos formato , con las llaves o sin ellas, ahora no recuerdo -->
        <span> juego.valoracion </span>
        <img src=` juego.imagen ` alt=` juego.titulo ` style="width:240px;height:240px" />
        <button [routerLink]="['/detalle/',juego.identificador]">Ir a más detalle </button>

      </ng-container>

    </p>

  </div>
</div>
